
/* .container{
  display: none;
} */
.container {
  width: 100%;
  min-height: 100vh;
  background-color: #f0e2d7;
}

.header,.logo,.user-opt{
  display: flex;
  align-items: center;
}

.header {
  width: 100%;
  height: 70px;
  background-color: #EB5328;
  position: fixed;
  padding: 1rem 2rem 1rem 1rem;
  justify-content: space-between;
  box-shadow: 2px 0 6px #ae3412;
  z-index: 99;
}

/* .header > .logo > svg{
  
} */

.header > .logo > h1{
  font-size: 120%;
  margin-left: 3rem;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  
}

.header > .logo > h1:hover{
  cursor: pointer;
}

.header > .user-opt {
  gap: 1rem;
  position: relative;
}
.header > .user-opt:hover {
  cursor: pointer;
}
.header > .user-opt > p {
  font-weight: bold;
  text-transform: capitalize;
}

.header > .user-opt > .opt-account{
  display: none;
  position: absolute;
  width: fit-content;
  top: 30px;
  left: -15px;
  background-color: #eed3bc;
  border-radius: .5rem;
  padding: 15px;
  flex-direction: column;
  justify-content: flex-start;
}


.header > .user-opt > .opt-account > ul{
  list-style: none;
  margin: 0;
}
.header > .user-opt > .opt-account > ul > li{
  margin: 0;
  padding: 5px 0;
}
.header > .user-opt > .opt-account > ul > li > a{
  margin: 0;
  font-size: 1rem;
  text-decoration: none;
  color: #000000;
  font-weight: 400;
}

.lang{
  position: relative;
  
}

.lang-opt{
  position: absolute;
  margin: 0 !important;
  background-color: #eed3bc;
  border-radius: .5rem;
  padding: 15px 10px;
  width: 70px;
  top: 30px;
  right: -20px;
  display: none;
  flex-direction: column;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}
.lang-opt > ul{
  margin: 0 !important;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
  
}

.lang-opt > ul > li{
  margin: 0 !important;
}

.lang-opt > ul > li > form{
  margin: 0 !important;
}

.lang-opt > ul > li > form > input[type='submit']{
  margin: 0 !important;
  text-decoration: none;
  color: #000000;
  background-color: transparent;
  border: none;
}
.lang-opt > ul > li > form > input[type='submit']:hover{
  cursor: pointer;
}

.header > .user-opt :last-child {
  margin-left: 1rem;
}
.menu-bar {
  width: 80px;
  height: 100%;
  background-color: #eed3bc;
  position: fixed;
  z-index: 1;
}

.menu-opt{
  padding-top: 80px;
  height: 100%;
}
.menu-opt-content{
  padding: 0 1rem;
}
.menu-opt-content > ul{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: .6rem;
}
.menu-opt-content > ul > li{
  width: 100%;
  border-radius: 1rem;
  box-shadow: 1px 2px 6px #8f7660;
}
.menu-opt-content > ul > li > a{
  display: flex;
  align-items: center;
  background-color: #EB5328;
  padding: .6rem;
  text-decoration: none;
  color: #eed3bc;
  border-radius: 1rem;
  font-weight: 600;
  gap: .5rem;
  width: 100%;
}
.menu-opt-content > ul > li > a > svg{
  fill: #eed3bc;
}
.menu-opt-content > ul > li > a > p{
  display: none;
}



.main-content{
  padding: 8rem 2rem 3rem 10rem;
  width: 100%;
  height: 100vh;
}
.monitorias-container{
  
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* padding-right: 6rem; */
}

.title{
  background-color: #fafafa;
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
}

.title > h1{
  font-size: 180%;
  font-weight: bold;
}

.monitorias-list{ 
  display: flex;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;
  width: 100%;
}

.monitoria{
  width: 200px;
  height: fit-content;
  background-color: #EB5328;
  padding: 1.5rem;
  position: relative;
  border-radius: 1rem;
}

.monitoria > .monitoria-header{
  position: absolute;
  width: 100%;
  height: 55px;
  background-color: #000000;
  top: 0;
  left: 0;
  border-radius: 1rem 1rem 0 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  padding: .2rem .2rem .4rem .2rem;
}

.monitoria > .monitoria-header > h2{
  color: #f0e2d7;
  font-size: 140%;
  font-weight: 600;
}

.monitoria > .monitoria-content{
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
  height: 100%;
  justify-content: space-between;
}

.monitoria-content > .monitoria-date{
  margin-bottom: .5rem;
  color:#fafafa;
  font-weight: bold;
}

.monitoria-content > .monitoria-hours {
  margin: .3rem 0;
}

.monitoria-content > .monitoria-class{
  margin: .3rem 0;
}


[data-hidden = "true"]{
  display: none;
}

.monitoria > .monitoria-btn{
  margin-top: 1rem;
  padding: .3rem;
  background-color: #eed3bc;
  text-align: center;
  border-radius: 5px;
  transition: 0.2s all linear;
}

.monitoria > .monitoria-btn > a > p{
  width: 100%;
  height: 100%;
}
.monitoria > .monitoria-btn a{
  text-decoration: none;
  font-weight: 600;
  color: #000;  
}

.monitoria-btn:hover{
  cursor: pointer;
  background-color: #b6a18e;
}


.menu-bar.expand {
  width: fit-content;
}

.displayed {
  display: flex !important;
}

.modal{
  z-index: 100;
}

.modal-title{
  font-size: 100%;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.modal-btns{
  display: flex;
  padding: 1rem 1rem 1rem 0;
  gap: 1.5rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.modal-btns > .confirm > form > input[type='submit'],
.modal-btns > .cancel a{
  border: none;
  border-radius: .4rem;
  padding: .6rem;
  color: white;
  text-decoration: none;
  font-size: 100%;
}
.modal-btns > .confirm > form > input[type='submit']{
  background-color: green;
}
.modal-btns > .cancel a{
  background-color: red;
}

.monitoria-btn.attend :hover{
  cursor: auto;
  user-select: none;
}

.cad-form{
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.cad-form > form{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-group{
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: .8rem .5rem .5rem .5rem;
  border-radius: 1rem;
  /* gap: .5rem; */
  position: relative;
  width: fit-content;
  border: 2px solid #EB5328;
}

.form-group > label{
  position: absolute;
  top: -12px;
  left: 5px;
  color: #eed3bc;
  font-size: 14px;
  /* background-color: #914c14; */
  background-color: #EB5328;
  padding: 5px;
  border-radius: 10px;
}

.form-group > input{
  outline: none;
  border: none;
  font-size: 15px;
  padding: .5rem .5rem .1rem .1rem;
  background-color: transparent;
  /* border-bottom: 1px solid black; */
  width: 250px;
}

.form-select{
  width: 100%;
  position: relative;
}

.form-select > label{
  position: absolute;
  top: -12px;
  left: 7px;
  color: #eed3bc;
  font-size: 14px;
  /* background-color: #914c14; */
  background-color: #EB5328;
  padding: 5px;
  border-radius: 10px;
}

select {
  border-radius: 1rem;
  background-color: transparent;
  background: url("../../assets/imgs/arrow-down.png") no-repeat 95% center;
  background-size: 15px;
  border: 2px solid #EB5328;
  outline: 0px;
  color: #7A7A78;
  padding: 1.3rem 1.1rem .6rem .6rem;
  font-size: 15px;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select > option {
  background-color: #69340831;
  color: black;
}

select :hover{
  background-color: #eed3bc !important;
}


.cad-form > form > input[type=submit]{
  border: none;
  padding: 1rem 2rem;
  color: #eed3bc;
  font-size: 18px;
  background-color: #EB5328;
  border-radius: .8rem;
}

.not-found{
  margin-top: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
}