
/* .container{
  display: none;
} */
.container {
  width: 100%;
  min-height: 100vh;
  background-color: #f0e2d7;
}

.header,.logo,.user-opt{
  display: flex;
  align-items: center;
}

.header {
  width: 100%;
  height: 70px;
  background-color: #EB5328;
  position: fixed;
  padding: 1rem 2rem 1rem 1rem;
  justify-content: space-between;
  box-shadow: 2px 0 6px #ae3412;
  z-index: 99;
}

/* .header > .logo > svg{
  
} */

.header > .logo > h1{
  font-size: 120%;
  margin-left: 3rem;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  
}

.header > .user-opt {
  gap: 1rem;
  position: relative;
}
.header > .user-opt:hover {
  cursor: pointer;
}
.header > .user-opt > p {
  font-weight: bold;
  text-transform: capitalize;
}

.header > .user-opt > .opt-account{
  display: none;
  position: absolute;
  width: fit-content;
  top: 30px;
  left: -15px;
  background-color: #eed3bc;
  border-radius: .5rem;
  padding: 15px;
  flex-direction: column;
  justify-content: flex-start;
}


.header > .user-opt > .opt-account > ul{
  list-style: none;
  margin: 0;
}
.header > .user-opt > .opt-account > ul > li{
  margin: 0;
  padding: 5px 0;
}
.header > .user-opt > .opt-account > ul > li > a{
  margin: 0;
  font-size: 1rem;
  text-decoration: none;
  color: #000000;
  font-weight: 400;
}


.header > .user-opt :last-child {
  margin-left: 1rem;
}
.menu-bar {
  width: 80px;
  height: 100%;
  background-color: #eed3bc;
  position: fixed;
  z-index: 89;
}

.menu-opt{
  padding-top: 80px;
  height: 100%;
}
.menu-opt-content{
  padding: 0 1rem;
}
.menu-opt-content > ul{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: .6rem;
}
.menu-opt-content > ul > li{
  width: 100%;
  border-radius: 1rem;
  box-shadow: 1px 2px 6px #8f7660;
}
.menu-opt-content > ul > li > a{
  display: flex;
  align-items: center;
  background-color: #EB5328;
  padding: .6rem;
  text-decoration: none;
  color: #eed3bc;
  border-radius: 1rem;
  font-weight: 600;
  gap: .5rem;
  width: 100%;
}
.menu-opt-content > ul > li > a > svg{
  fill: #eed3bc;
}
.menu-opt-content > ul > li > a > p{
  display: none;
}



.main-content{
  /* display: none; */
  /* position: static; */
  /* top: 0;
  left: 0; */
  /* background-color: #f0e2d7; */
  /* :width: 100%; */
  /* height: 100vh; */
  padding: 8rem 2rem 3rem 10rem;
  /* z-index: 1; */
}
.monitorias-container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-right: 6rem;
  /* width: 100%; */
}

.monitorias-container > .title{
  background-color: #fafafa;
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
}
.monitorias-container > .title > h1{
  font-size: 180%;
  font-weight: bold;
}

.monitorias-list{ 
  display: flex;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;
  width: 100%;
  /* height: 100%; */
}

.monitoria{
  width: 200px;
  /* height: 180px; */
  height: fit-content;
  background-color: #EB5328;
  padding: 1.5rem;
  position: relative;
  border-radius: 1rem;
}

.monitoria > .monitoria-header{
  position: absolute;
  width: 100%;
  height: 55px;
  background-color: #000000;
  top: 0;
  left: 0;
  border-radius: 1rem 1rem 0 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  padding: .2rem .2rem .4rem .2rem;
  /* padding-bottom: .4rem; */
}

.monitoria > .monitoria-header > h2{
  color: #f0e2d7;
  font-size: 140%;
  font-weight: 600;
}

.monitoria > .monitoria-content{
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
  height: 100%;
  justify-content: space-between;
}

.monitoria-content > .monitoria-date{
  margin-bottom: .5rem;
}
[data-hidden = "true"]{
  display: none;
}

.monitoria > .monitoria-btn{
  margin-top: 1rem;
  padding: .3rem;
  background-color: #eed3bc;
  text-align: center;
  border-radius: 5px;
  transition: 0.2s all linear;
  font-weight: 600;
}
.monitoria-btn:hover{
  cursor: pointer;
  background-color: #b6a18e;
}


.menu-bar.expand {
  width: fit-content;
}

.displayed {
  display: flex !important;
}