.container {
  width: 100%;
  height: 100vh;
}

.header,.logo,.user-opt{
  display: flex;
  align-items: center;
}

.header {
  width: 100%;
  height: 70px;
  background-color: #EB5328;
  position: absolute;
  padding: 1rem 2rem 1rem 1rem;
  justify-content: space-between;
}

.header > .logo > svg{
  
}

.header > .logo > h1{
  font-size: 120%;
  margin-left: 3rem;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.header > .user-opt {
  gap: 1rem;
  position: relative;
}
.header > .user-opt:hover {
  cursor: pointer;
}
.header > .user-opt > p {
  font-weight: bold;
}

.header > .user-opt > .opt-account{
  display: none;
  position: absolute;
  width: fit-content;
  top: 30px;
  left: -15px;
  background-color: #eed3bc;
  border-radius: .5rem;
  padding: 15px;
  flex-direction: column;
  justify-content: flex-start;
}

.header > .user-opt > .opt-account > ul{
  list-style: none;
  margin: 0;
}
.header > .user-opt > .opt-account > ul > li{
  margin: 0;
  padding: 5px 0;
}
.header > .user-opt > .opt-account > ul > li > a{
  margin: 0;
  font-size: 1rem;
  text-decoration: none;
  color: #000000;
  font-weight: 400;
}


.header > .user-opt :last-child {
  margin-left: 1rem;
}




.menu-bar {
  width: 80px;
  height: 100%;
  background-color: #eed3bc;
}

.menu-bar.expand {
  width: 260px;
}

.displayed {
  display: flex !important;
}