.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../assets/imgs/liquid-cheese.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-color: #69340831;
  backdrop-filter: blur(5px);
  border-radius: 1rem;
  padding: 0 3rem;
}

.form-img {
  background: url("../../assets/imgs/Webinar-amico.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 450px;
  height: 450px;
}

.form-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 20px;
}

.form-header{
  padding: 1rem;
  text-align: center;
}

.form-header  h1 > span{
  color: #EB5328;
  font-size: 120%;
  font-weight: 700;
}

.form-content > form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  /* gap: 2rem; */
  /* background-color: red; */
}
.form-content > form :first-child{
  margin-bottom: 2rem;
}

.form-content > form > .form-group{
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: .8rem .5rem .5rem .5rem;
  border-radius: 1rem;
  /* gap: .5rem; */
  position: relative;
  width: fit-content;
  border: 2px solid #EB5328;
}

.form-content > form > .form-group > label{
  position: absolute;
  top: -12px;
  left: 5px;
  color: #eed3bc;
  font-size: 14px;
  /* background-color: #914c14; */
  background-color: #EB5328;
  padding: 5px;
  border-radius: 10px;
}

.form-content > form > .form-group > input{
  outline: none;
  border: none;
  font-size: 15px;
  padding: .5rem .5rem .1rem .1rem;
  background-color: transparent;
  /* border-bottom: 1px solid black; */
  width: 250px;
}

.form-content > form > .form-register{
  display: flex;
  justify-content: flex-end;
  margin-top: .3rem;
  font-size: 12px;
  width: 100%;
}

.form-content > form > input[type=submit]{
  border: none;
  padding: 1rem 2rem;
  color: #eed3bc;
  font-size: 18px;
  background-color: #EB5328;
  border-radius: .8rem;
}